@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-black: #1b1b1b;
    --nav-red: #b41b1b;
    --nav-white: #f0e6e6;

    --error-bg: #a94442;
	--error-clr: #f2dede;

    --success-bg: #d4edda;
    --success-clr: #40754c;
}

body {
    font-family: 'Nunito', Verdana, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: min(85%, 1000px);
    margin-inline: auto;
}

input, textarea, button, select {
    font: inherit;
}

.animate-opacity{animation:opac 0.8s}
@keyframes opac{
    from{opacity:0} 
    to{opacity:1}
}

header.header {
    background-color: var(--nav-red);
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    height: calc(8vh + 2rem);
    z-index: 5;

    padding: 1rem 7.5%;
}

.nav__list {
    display: none;
    
    position: absolute;
    inset: calc(8vh + 2rem) 0 0;

    background-color: var(--nav-red);
}

.nav__item {
    padding: 0.5rem 5%;
    background-color: var(--nav-red);
    list-style-type: none;
    text-align: center;
}

.nav__link {
    display: block;
    width: 100%;
    
    padding: 0.5rem 0;
    opacity: 0;
}

a.nav__link,
a.brand__title--link {
    color: var(--nav-white);
    text-decoration: none;
}

a.brand__title--link:hover {
    color: var(--nav-black);
}

a.nav__link:hover {
    color: var(--nav-red);
    background-color: var(--nav-white);
}

.hamburger {
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
  
    background-color: var(--nav-white);
    border-radius: 6px;
    z-index: 1;
  
    transform-origin: 0 0;
  
    transition: 0.4s;
}

.nav-visible {
    display: block;
}

.hamburger:hover span {
    background-color: var(--nav-black);
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(-10px);
    background-color: var(--nav-black);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--nav-black);
}

@media (min-width: 900px) {
    header.header {
        height: unset;
    }

    .nav__list {
        position: unset;

        display: block;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.9rem;

        width: 100%;
    }

    .hamburger {
        display: none;
    }

    .nav__item {
        padding: 0;
    }

    .nav__link {
        padding: 7px 15px;
        border-radius: 99px;
        opacity: 1;
        border: 1px solid var(--nav-red);
    }
    
    a.nav__link:hover {
        background: var(--nav-white);
        color: var(--nav-red);

        border-color: var(--nav-white);
    }

    a.nav__link--btn {
        background-color: var(--nav-white);
        color: var(--nav-red);

        border: 1px solid var(--nav-white);

        padding: 7px 15px;
        border-radius: 99px;
    }

    a.nav__link--btn:hover {
        background-color: var(--nav-red);
        color: var(--nav-white);
    }
}

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
}

/* Footer */

.footer {
    background-color: #222;
    color: white;
    
    padding-block: 2rem 0;
}

.footer__bottom--text {
    background-color: black;
    text-align: center;

    padding: 1.5rem 0;
}

.footer__col {
    margin-bottom: 1.2rem;
}

.footer__col--title {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 900px) {
    .footer-container {
        display: flex;
        gap: 2em;
    }

    .footer__col {
        width: 100%;
    }

    .footer__col--contact {
        margin-bottom: 0.5rem;
        padding-bottom: 0.2rem;
        border-bottom: 1px solid white;
    }
}