/* Borrowed from W3.CSS */
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%;font-size: 1rem;}
.w3-section{margin-block: 1rem; margin: 1rem 0;}
.w3-right{float:right}
.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}


.animate-opacity{animation:opac 0.8s}
@keyframes opac{
    from{opacity:0} 
    to{opacity:1}
}

section.home-section {
    margin-top: 3em;
}

section.home-section:not(.intro) {
    display: none;
}

/* .footer {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    padding-top: 0;
} */

.intro__btn,
.complete__btn {
    text-decoration: none;
    padding: 7px 15px;
    background-color: var(--nav-red);
    color: var(--nav-white);
    border-radius: 4px;

    margin-top: 1em;

    border: 1px solid var(--nav-red);
    transition: all 0.3s ease-out;
}

.intro__btn:hover,
.complete__btn:hover {
    background-color: var(--nav-white);
    color: var(--nav-red);
}

.delete__btn {
    padding: 7px 15px;
    border-radius: 4px;

    background-color: var(--nav-black);
    color: var(--nav-white);
    border-radius: 4px;

    margin-top: 1em;

    border: 1px solid var(--nav-black);
    transition: all 0.3s ease-out;
}

.delete__btn:hover{
    background-color: var(--nav-white);
    color: var(--nav-black);
}

/* Intro Section */

.intro__messages--success,
.intro__messages--failed {
    padding: 0.2em 1rem;
    background-color: #4CAF50;
    color: var(--succes-clr, white);
    position: relative;
    margin-bottom: 1.5rem;
    text-align: center;
}

.intro__messages--failed {
    background-color: #f44336;
}

.intro__messages--title {
    font-size: 1.6rem;
    margin-bottom: 0.25rem;
}

.intro__messages--span {
    position: absolute;
    top: 0;
    right: 0;
    /* color: var(--success-clr, green); */
    padding: 0 10px;
    font-size: 1.2rem;
    transition: all 0.3s;
    cursor: pointer;
}

.intro__messages--span:hover {
    color: #4CAF50;
    background-color: white;
}

.intro__messages--failed .intro__messages--span:hover {
    color: #f44336;
}

/* Ticket Section */

.ticket__title {
    margin-bottom: 1.5rem;
}

/* History Section */

.history__table {
    width: min(100%, 900px);
    margin: 2rem auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.history__table thead tr {
    font-size: 1.1rem;
}

.history__table th {
    border-right: 1px solid white;
    text-align: center;
    background-color: var(--nav-black, #1b1b1b);
    color: var(--nav-white, #f0e6e6);
    padding-block: 0.2rem;
}

.history__table td {
    border-right: 1px solid #222;
    text-align: center;
    padding-block: 0.2rem;
}

.history__table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.history__table tr:hover {background-color: #ddd;}

/* Profile Section */

.profile {
    margin-bottom: 3em;
}

.profile__form {
    border: 2px solid black;
    border-radius: 10px;
    width: min(100%, 500px);
    margin-inline: auto;
    padding: 25px 30px;
}

.profile__title {
	font-size: 1.5625rem;
	font-weight: 700;
	position: relative;
    margin: 0 auto 2rem;
}

.profile__title::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 50px;
	background: linear-gradient(135deg, var(--nav-red), var(--nav-white));
}

.profile__form--box,
.ticket__form--box {
    margin: 0 auto 2rem;
    width: 100%;
    height: 50px;
    position: relative;
}

.profile__form--input, 
.ticket__form--input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid black;
    border-radius: 0.625rem;
    outline: none;
    padding: 0.625rem;
    padding-left: 1rem;
    font-size: 1.1rem;
}

select.profile__form--input,
select.ticket__form--input {
    font-size: 1.1rem;
    border-color: black;
}

.profile__form--input:disabled {
    border-color: #ccc;
    cursor: not-allowed;
}

.profile__form--label,
.ticket__form--label {
    position: absolute;
    top: 12px;
    left: 15px;
    color: var(--nav-black);
    text-transform: capitalize;
    font-size: 1rem;
    transition: top 0.3s;
    padding: 0 5px;
    cursor: text;
}

.profile__form--input:focus ~ .profile__form--label,
.profile__form--input:not(:placeholder-shown).profile__form--input:not(:focus) ~ .profile__form--label,
.ticket__form--input:focus ~ .ticket__form--label,
.ticket__form--input:not(:placeholder-shown).ticket__form--input:not(:focus) ~ .ticket__form--label {
    top: -12px;
    background-color: white;
    font-size: 0.9rem;
}

input.profile__form--input:focus ~ .profile__form--label {
    /* color: #ff961e; */
    color: #14bb54;
}

input.profile__form--input:focus {
    /* border-color: #06f361; */
    border-color: #14bb54;
    color: #14bb54;
}
