.login {
	background: #fff;
    margin: 3em 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login__form {
    width: min(100%, 500px);
	border: 2px solid var(--nav-black);
	padding: 1.875rem;
	background: #fff;
	border-radius: 15px;
    margin-inline: auto;
}

.login__form--title {
	margin-bottom: 40px;
    position: relative;
}

.login__form--title::before {
    content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background: linear-gradient(135deg, var(--nav-red), var(--nav-white));
}

.login__form--label {
    color: var(--nav-black);
	font-size: 18px;
}

.login__form--btn {
	padding: 10px 15px;
	border-radius: 5px;
	margin-left: 10px;
    outline: none;
    
	border: 1px solid var(--nav-red);
    background-color: var(--nav-red);
    color: var(--nav-white);

    transition: all 0.3s ease-out;
}

.login__form--btn:hover {
    opacity: 0.7;
}

.login__form--box {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 50px;
    position: relative;
}

.login__form--input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid black;
    border-radius: 0.625rem;
    outline: none;
    padding: 0.625rem;
    padding-left: 1rem;
    font-size: 1.1rem;
}

.login__form--label {
    position: absolute;
    top: 12px;
    left: 15px;
    color: var(--nav-black, black);
    text-transform: capitalize;
    font-size: 1rem;
    transition: top 0.3s;
    padding: 0 5px;
    cursor: text;
}

.login__form--input:focus ~ .login__form--label,
.login__form--input:not(:placeholder-shown).login__form--input:not(:focus) ~ .login__form--label {
    top: -12px;
    background-color: white;
    font-size: 0.9rem;
}

